fastapi
uvicorn
python-dotenv

# STRICT VERSIONS to prevent "phantom" package installation

langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.15
langchain-google-genai
langchain-pinecone
pinecone-client
pydantic