fastapi
uvicorn
python-dotenv

# We keep these fixed to ensure they work together

langchain==0.3.7
langchain-community==0.3.7

# REMOVED: langchain-core (Let pip install the correct version automatically)

langchain-google-genai
langchain-pinecone
pinecone-client
pydantic